@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../public/impact.ttf';

body {
    background: linear-gradient(90deg, #ADF2A2, #E6F28D);
}

@font-face {
  font-family: 'impact';
  src: url('../public/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}