@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/impact.ttf";

body {
  background: linear-gradient(90deg, #adf2a2, #e6f28d);
}

@font-face {
  font-family: 'impact';
  src: url("/impact.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
